---
import Layout from '../../layouts/Layout.astro'
import Bubble from '../../components/gyro/bubble.svelte'
---

<Layout>
  <div
    class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 h-[100vmin] w-[100vmin]"
  >
    <div
      id="outerCircle"
      class="aspect-square absolute inset-0 flex items-center justify-center p-8"
    >
      <div
        class="h-full aspect-square rounded-full border-4 border-gray-600 flex items-center justify-center"
      >
        <div
          class="h-[66%] aspect-square rounded-full border-4 border-gray-600 flex items-center justify-center"
        >
          <div
            class="h-[50%] aspect-square rounded-full border-4 border-gray-600 flex items-center justify-center"
          >
            <div
              id="dot"
              class="absolute top-1/2 left-1/2 h-9 w-9 -translate-x-1/2 -translate-y-1/2 transform rounded-full bg-red-800"
            >
            </div>
          </div>
	  <Bubble client:idle/>
        </div>
      </div>
    </div>
  </div>
</Layout>
