--- 
import LanguageList from "../elements/containers/LanguageList.astro"
---
<div class="root">
  <a
    href="https://github.com/MangioneAndrea/ditherrific"
    target="_blank"
    class="projectTitle"
  >
    <h2>Ditherrific (link)</h2>
  </a>
  <LanguageList
    icons={["assets/Logos/Rust.png", "assets/Logos/Wasm.png"]}
  />
  <p>
  Small project which produces a black/white using dithering, born to make use of e-ink displays (since most of them only have 2 colors.)
  This piece of code can be used as library, terminal cli or as wasm module for any website.
  All different error diffusion methods consist of simple matrices and can be very easily extended
  <br/>
  Note: The PNG below has some gray, but was added by the compression.
  </p>
  <div class="example">
  <img src="assets/Images/parrots.png"/>
  </div>
</div>

<style>
  div.root {
    margin: 1rem 3rem 1rem 3rem;
  }

  @media only screen and (max-width: 768px) {
    div.root {
      margin: 1rem;
    }
  }

  div.example {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  @media (max-width: 1366px) {
    div.example {
      flex-direction: column;
    }
  }

  div.code {
    width: 40rem;
  }

  @media only screen and (max-width: 768px) {
    div.code {
      width: 100%;
      font-size: small;
    }
  }

  div.sketch {
    width: 40rem;
    margin-top: 3rem;
    max-width: 100%;
  }

  :global(path#light) {
    display: none;
  }
</style>
