---
import LanguageList from "../elements/containers/LanguageList.astro"
---

<div class="root">
  <a
    href="https://github.com/MangioneAndrea/blasingly-fast-calculator"
    target="_blank"
    class="projectTitle"
  >
    <h2>Blasingly Fast Calculator (link)</h2>
  </a>
  <LanguageList
    icons={["assets/Logos/Rust.png", "assets/Logos/Solid.png", "assets/Logos/Tauri.png"]}
  />
  <p>
  It's a calculator! Also it's data structure heavy. The fact that you multiply before summing, or that parenthesis come first, make the whole problem challengy!
  <br/>
  Behind the scenes, a tree is built with tokens and operations. The description inside the repo is more technical
  </p>
  <div class="example">
  <img src="assets/Images/calculator.png"/>
  </div>
</div>

<style>
  div.root {
    margin: 1rem 3rem 1rem 3rem;
  }

  @media only screen and (max-width: 768px) {
    div.root {
      margin: 1rem;
    }
  }

  div.example {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  video {
    width: 50%;
  }

  @media only screen and (max-width: 1366px) {
    div.example {
      flex-direction: column;
    }

    @media only screen and (max-width: 768px) {
      video {
        width: 90%;
        margin-bottom: 1rem;
      }
    }
  }
</style>
