---
import KotlinFirmata from "./kotlin-firmata/KotlinFirmata.astro";
import AirHockey from "./airhockey/AirHockey.astro";
import Calculator from "./blasingly-fast-calculator/BlasinglyFastCalculator.astro";
---

<section class="m-t-0">
  <h1 class="bg-reddish bg-clip-text">Projects</h1>
  <KotlinFirmata />
  <AirHockey />
  <Calculator />
</section>
