---
import KotlinFirmata from "./kotlin-firmata/KotlinFirmata.svelte";
import AirHockey from "./airhockey/AirHockey.svelte";
---

<section class="m-t-0">
  <h1 class="bg-reddish bg-clip-text">Projects</h1>
  <KotlinFirmata client:idle />
  <AirHockey client:idle />
</section>
