<div
  class="bg-background flex items-center m-auto z-10 top-0 pt-4 fixed justify-between w-full max-w-7xl -translate-x-1/2 left-1/2"
>
  <h2 class="pl-8 xl:!block hidden my-auto">andrea.mangione.dev</h2>
  <span class="flex justify-evenly items-center m-auto xl:!m-0">
    <a
      class="pr-5 pl-1"
      href="https://github.com/MangioneAndrea"
      target="_blank"
    >
      <img
        width="32"
        height="32"
        src={"assets/Logos/Github.webp"}
        alt="github link"
      />
    </a>
    <a
      class="pr-5 pl-1"
      href="https://www.linkedin.com/in/andrea-mangione-592902156/"
      target="_blank"
    >
      <img
        width="32"
        height="32"
        src={"assets/Logos/Linkedin.webp"}
        alt="linkedin link"
      />
    </a>
    <a class="pr-5 pl-1" href="mailto:andrea@mangione.dev" target="_blank">
      <img
        width="32"
        height="23"
        src={"assets/Logos/Email.webp"}
        alt="email link"
      />
    </a>
  </span>
</div>

<style>
  div > h2 {
    font-family: var(--terminal-font);
  }
</style>
