@font-face {
    font-family: GloriaHallelujah;
    src: url('GloriaHallelujah-Regular.ttf');
}

@font-face {
    font-family: Inconsolata;
    src: url('Inconsolata.ttf');
}

:root {
    --greenish-background: linear-gradient(90deg, #F5CB5C 0%, #64DA99 50%);
    --blueish-background: linear-gradient(90deg, #b42bf8 0%, #6489da 50%);
    --reddish-background: linear-gradient(90deg, #fd2323 0%, #da754f 50%);
    --background-color: #1a1a1a;
    --foreground-color: #ffffff;
    --hand-drawing-font: GloriaHallelujah, Arial, sans-serif;
    --terminal-font: Inconsolata, Arial, sans-serif;
    --max-width: 100rem;


    font-size: 120%;

}

html {
    background-color: var(--background-color);
    font-size: 150%;
    color: var(--foreground-color);
}


h1, p, h2 {
    font-family: var(--hand-drawing-font);
}

p {
    font-size: 1.5rem;
}

section {
    max-width: calc(var(--max-width) - 25rem);
    margin: 8rem auto 2rem auto;
}

h1 {
    font-size: 4rem;
    -webkit-text-fill-color: transparent;
}